/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Created by Marq Roldan for FluxCP */
/* Supported minimum widths: 800, 1366, 1920 */
body {
  background-color: #fdfdf9;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 768px;
  font-family: "Montserrat", sans-serif !important;
}

.nomargin {
  margin: 0 !important;
}

.nopadding {
  margin: 0 !important;
}

.v_divider {
  min-height: 100%;
  width: 1px;
  background: linear-gradient(to bottom, rgba(200, 205, 211, 0) 0%, #c8cdd3 50%, rgba(200, 205, 211, 0) 100%);
}

.flex-basis-none {
  flex-basis: 0%;
}

.fcp {
  display: none;
  position: absolute;
  right: 9px;
  bottom: 80px;
  margin-bottom: -10px;
  z-index: 500;
}
.fcp:hover {
  display: block;
}
.fcp .fcp_modal {
  padding: 21px;
  border-radius: 6px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  margin-top: -5px;
  margin-bottom: 17px;
  min-width: 354px;
  max-width: 354px;
}
.fcp .fcp_modal .user_info_menu {
  width: 18px;
  margin-left: -5px;
  margin-right: 13px;
}
.fcp .fcp_modal .user_info_menu span {
  color: #adb5bd;
  padding: 5px;
}
.fcp .fcp_modal .user_info_menu span:hover {
  color: #70777e;
}
.fcp .fcp_modal .user_info_market .currency-flex-box {
  flex-basis: 0%;
  margin-left: 8px;
  margin-right: -10px;
}
.fcp .fcp_modal .user_info_market span .fas {
  color: #adb5bd;
  font-size: 29px;
}
.fcp .fcp_modal .user_info_market span .fas:hover {
  color: #70777e;
}
.fcp .fcp_modal .user_info_market_currency {
  flex: 0 0 130px;
  margin: 2px 3px;
  font-size: 14px;
  vertical-align: middle;
}
.fcp .fcp_modal .user_info_market_currency [class*=fluxicon-] {
  display: inline-block;
  font-size: 14px;
  color: #a6a6a6;
  vertical-align: middle;
  font-weight: 500;
  width: 20px;
  text-align: left;
}
.fcp .fcp_modal .user_info_market_currency .value {
  color: #6a6a6a;
  font-weight: 500;
  vertical-align: top;
  padding: 0;
  display: inline-block;
}
.fcp .fcp_modal table.m_user_info {
  margin-left: 5px;
}
.fcp .fcp_modal table.m_user_info th, .fcp .fcp_modal table.m_user_info td {
  font-size: 9px;
  letter-spacing: 0.5px;
  font-weight: 500;
  text-transform: uppercase;
  color: #6a6a6a;
  padding: 0 14px 0 4px;
}
.fcp .fcp_modal table.m_user_info tr th:last-child, .fcp .fcp_modal table.m_user_info tr td:last-child {
  padding: 0 4px;
}
.fcp .fcp_modal table.m_user_info th {
  opacity: 0.75;
}
.fcp .fcp_modal:last-child {
  margin-bottom: 10px;
}

nav.naviBottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 501;
}
nav.naviBottom nav.pageNavi {
  margin-bottom: 6px;
}
nav.naviBottom nav.pageNavi ul {
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;
}
nav.naviBottom nav.pageNavi ul li {
  padding: 2px 10px;
  border-radius: 7px;
  display: inline-block;
  font-size: 9px;
  letter-spacing: 1.5px;
  margin: 0 5px;
}
nav.naviBottom nav.pageNavi ul li:hover {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
}
nav.naviBottom nav.mainNaviBottom {
  height: 71px;
  background-color: #fff;
  background: #ffffff linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(192, 192, 192, 0.15) 100%);
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
}
nav.naviBottom nav.mainNaviBottom ul {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}
nav.naviBottom nav.mainNaviBottom ul li {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin: 10px;
  background: red;
}
nav.naviBottom nav.mainNaviBottom section.logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: absolute;
  left: 12px;
  bottom: 12px;
}
nav.naviBottom nav.mainNaviBottom section.user {
  display: flex;
  height: 71px;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  position: absolute;
  right: 0;
  bottom: 0;
}
nav.naviBottom nav.mainNaviBottom section.user .user_details {
  margin-right: 8px;
  text-align: right;
}
nav.naviBottom nav.mainNaviBottom section.user .user_details * {
  display: block;
}
nav.naviBottom nav.mainNaviBottom section.user .user_details .user_name {
  font-size: 20.56px;
  font-weight: 500;
  color: #303030;
}
nav.naviBottom nav.mainNaviBottom section.user .user_details .user_notifications {
  font-size: 9px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: -5px;
  color: #747474;
}
nav.naviBottom nav.mainNaviBottom section.user .user_picture_area {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav.naviBottom nav.mainNaviBottom section.user .user_picture_area .user_picture {
  width: 53px;
  height: 53px;
  border-radius: 53px;
  overflow: hidden;
  border: 3px solid green;
  margin-right: 12px;
  background-position: center center;
  background-size: contain;
}
nav.naviBottom nav.mainNaviBottom section.user .user_picture_area:hover + .fcp {
  display: block;
}

.justify-content-space-between {
  justify-content: space-between;
}

.ctest {
  position: relative;
  background: green;
  margin: 0 auto;
  max-width: 218px;
}

main {
  height: calc(100vh - 101px);
  max-height: calc(100vh - 101px);
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.ncp_database header.topbar {
  height: 76px;
}
.ncp_database header.topbar h1 {
  font-weight: 200;
  font-size: 50.42px;
  color: #6a6a6a;
  float: left;
  margin-left: 15px;
}
.ncp_database header.topbar .pagemenu {
  height: 26px;
  float: right;
  text-align: right;
  margin-right: 17px;
}
.ncp_database header + div {
  height: calc(calc(100vh - 101px) - 76px);
}
.ncp_database .item_list {
  flex-direction: row;
}
.ncp_database .item_list .thumbnail {
  padding: 4px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: 75px;
  height: 100px;
  box-sizing: content-box;
  margin: 10px;
}
.ncp_database .item_list .thumbnail:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.ncp_database .search {
  max-width: 258px;
}
.ncp_database .search input[type=text] {
  border-radius: 3px;
  background: #fbfbf7;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  max-width: 218px;
  max-height: 33px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: #5d5d5d;
}
.ncp_database .search input[type=checkbox] {
  display: none;
}
.ncp_database .search input[type=checkbox]:checked + label::before {
  background: #747474;
  box-shadow: inset -1px -1px 0 white, inset 1px 1px 0 white;
}
.ncp_database .search input[type=checkbox] + label {
  font-size: 10px;
  display: block;
  padding-left: calc(10px + 5px);
}
.ncp_database .search input[type=checkbox] + label::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #9a9a98;
  background: #f2f2f2;
  margin-left: -15px;
  margin-right: 5px;
  margin-top: -50px;
}
.ncp_database .search .ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content {
  background: #d7d7d7;
  border: 0;
  height: 3px;
  margin: 10px 0;
}
.ncp_database .search .ui-slider-range.ui-corner-all.ui-widget-header {
  background: #5d5d5d;
  border: 0;
}
.ncp_database .search .ui-slider-handle.ui-corner-all.ui-state-default {
  background: #d7d7d7;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0 1px #fff;
  margin-left: -5px;
}
.ncp_database .search_reset {
  text-transform: uppercase;
  font-size: 10px;
  color: #5d5d5d;
  opacity: 0.5;
  display: inline-block;
  margin: 0 auto;
}
.ncp_database .search_param {
  background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0) 60%), radial-gradient(ellipse at center, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0) 90%);
  background-position: center bottom -10px, center bottom -5px;
  background-repeat: no-repeat;
  background-size: 120% 20px;
  border-bottom: 1px solid #edede9;
  box-shadow: inset 0 -1px 0 0 white;
  max-width: 218px;
  margin: 0 auto;
  color: #5d5d5d;
}
.ncp_database .search_param * {
  text-transform: uppercase;
}
.ncp_database .search_param_top {
  justify-content: space-between;
  padding: 5px 0;
}
.ncp_database .search_param_top_label {
  color: #5d5d5d;
  font-weight: 400;
  font-size: 12px;
}
.ncp_database .search_param_top_value {
  color: #5d5d5d;
  font-weight: 500;
  font-size: 11px;
  text-transform: initial;
  font-style: italic;
}
.ncp_database .search_param:hover {
  background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0) 60%), radial-gradient(ellipse at center, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0) 70%);
  background-position: center bottom -10px, center bottom -5px;
}

.fluxDetails {
  display: none;
}

/*# sourceMappingURL=main.css.map */
