/* Created by Marq Roldan for FluxCP */
.botongui .search_param_top_value, .botongui .search_param_top_value * {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */
}

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}
html, body {
  height: 100% !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  /*overflow: hidden; **/
}

body {
  background-color: #fdfdf9;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center center;
  font-family: "Montserrat", sans-serif !important;
}

a, a * {
  cursor: pointer !important;
  text-decoration: none !important;
}

.pages a {
  display: inline-block;
  padding: 2px 5px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff !important;
  font-weight: 500;
}
.pages a:hover {
  background: rgba(0, 0, 0, 0.7);
}

.v_divider {
  min-height: 100%;
  width: 1px;
  background: linear-gradient(to bottom, rgba(200, 205, 211, 0) 0%, #c8cdd3 50%, rgba(200, 205, 211, 0) 100%);
}

.flex-basis-none {
  flex-basis: 0%;
}

.permalink {
  font-size: 11px;
  color: #6a6a6a;
  display: block;
  text-transform: uppercase;
}

.unauthorized {
  color: #e46363;
  text-transform: uppercase;
  font-size: 64px;
  width: 100%;
  text-align: center;
}
.unauthorized_p {
  font-size: 1rem !important;
  color: #70777e !important;
}

.fcp {
  display: none;
  position: absolute;
  right: 9px;
  bottom: 80px;
  margin-bottom: -10px;
  z-index: 500;
}
.fcp:hover {
  display: block;
}
.fcp.alerts {
  display: block;
  margin-bottom: 20px;
  max-width: 70vw;
  right: 0 !important;
  left: 0 !important;
  margin-left: auto;
  margin-right: auto;
}
.fcp .fcp_modal {
  padding: 21px;
  border-radius: 6px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  margin-top: -5px;
  margin-bottom: 17px;
  min-width: 354px;
  max-width: 354px;
}
.fcp .fcp_modal .user_info_menu {
  width: 18px;
  margin-left: -5px;
  margin-right: 13px;
}
.fcp .fcp_modal .user_info_menu span {
  padding: 5px;
  font-size: 16px;
}
.fcp .fcp_modal .user_info_menu span a {
  color: #adb5bd;
}
.fcp .fcp_modal .user_info_menu span a:hover {
  color: #70777e;
}
.fcp .fcp_modal .user_info_market span .fas {
  color: #adb5bd;
  font-size: 29px;
}
.fcp .fcp_modal .user_info_market span .fas:hover {
  color: #70777e;
}
.fcp .fcp_modal .user_info_market_links {
  flex: 1 1 36px;
  max-width: 90px;
}
.fcp .fcp_modal .user_info_market_links i {
  font-size: 22px !important;
  margin: 10px !important;
}
.fcp .fcp_modal .user_info_market_values {
  flex: 1 1 130px;
  padding: 10px;
}
.fcp .fcp_modal .user_info_market_currency {
  flex: 1 1 auto;
  margin: 2px 3px;
  font-size: 14px;
  vertical-align: middle;
}
.fcp .fcp_modal .user_info_market_currency [class*=fluxicon-] {
  display: inline-block;
  font-size: 14px;
  color: #a6a6a6;
  vertical-align: middle;
  font-weight: 500;
  width: 20px;
  text-align: left;
}
.fcp .fcp_modal .user_info_market_currency .value {
  color: #6a6a6a;
  font-weight: 500;
  vertical-align: top;
  padding: 0;
  display: inline-block;
}
.fcp .fcp_modal table.m_user_info {
  margin-left: 5px;
}
.fcp .fcp_modal table.m_user_info th, .fcp .fcp_modal table.m_user_info td {
  font-size: 9px;
  letter-spacing: 0.5px;
  font-weight: 500;
  text-transform: uppercase;
  color: #6a6a6a;
  padding: 1px 14px 1px 4px;
}
.fcp .fcp_modal table.m_user_info tr th:last-child, .fcp .fcp_modal table.m_user_info tr td:last-child {
  padding: 0 4px;
}
.fcp .fcp_modal table.m_user_info th {
  opacity: 0.75;
}
.fcp .fcp_modal:last-child {
  margin-bottom: 10px;
}

.rotator, nav.naviBottom nav.mainNaviBottom ul.status_circles li .status_content, nav.naviBottom nav.mainNaviBottom ul.status_circles li {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

nav.naviBottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 501;
}
nav.naviBottom nav.pageNavi {
  margin-bottom: 6px;
}
nav.naviBottom nav.pageNavi ul {
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;
}
nav.naviBottom nav.pageNavi ul li {
  padding: 2px 10px;
  border-radius: 7px;
  display: inline-block;
  font-size: 11px;
  letter-spacing: 1.5px;
  margin: 0 5px;
}
nav.naviBottom nav.pageNavi ul li:hover a, nav.naviBottom nav.pageNavi ul li li:hover {
  color: #ffffff !important;
}
nav.naviBottom nav.pageNavi ul li a {
  color: #6a6a6a !important;
}
nav.naviBottom nav.pageNavi ul li:hover {
  background: rgba(0, 0, 0, 0.5);
}
nav.naviBottom nav.pageNavi ul li:hover a {
  text-decoration: none;
}
nav.naviBottom nav.mainNaviBottom {
  height: 71px;
  background-color: #fff;
  background: #ffffff linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(192, 192, 192, 0.15) 100%);
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
}
nav.naviBottom nav.mainNaviBottom ul.status_circles {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
nav.naviBottom nav.mainNaviBottom ul.status_circles li {
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: transparent;
  position: relative;
}
nav.naviBottom nav.mainNaviBottom ul.status_circles li .status_content {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -1px;
  margin-top: -1px;
  z-index: 99;
}
nav.naviBottom nav.mainNaviBottom ul.status_circles li .status_content .icon {
  width: 100%;
  height: 100%;
  line-height: 42px;
  filter: grayscale(0%);
  transition: all 0.4s ease-in-out;
}
nav.naviBottom nav.mainNaviBottom ul.status_circles li .status_content .icon_woe {
  color: #cdb232;
}
nav.naviBottom nav.mainNaviBottom ul.status_circles li .status_content .icon_woe i {
  transform: rotate(180deg);
}
nav.naviBottom nav.mainNaviBottom ul.status_circles li .status_content .icon_onlineplayers {
  color: #839c5e;
}
nav.naviBottom nav.mainNaviBottom ul.status_circles li .status_content .icon_serverstatus {
  color: #839c5e;
}
nav.naviBottom nav.mainNaviBottom ul.status_circles li .status_content .icon_grayscale {
  color: #929292;
}
nav.naviBottom nav.mainNaviBottom ul.status_circles li .status_content .icon_orangeFromGreen {
  color: #cd882c;
}
nav.naviBottom nav.mainNaviBottom section.logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: absolute;
  left: 12px;
  bottom: 12px;
  max-width: 30vw;
}
nav.naviBottom nav.mainNaviBottom section.logo img {
  max-width: 30vw;
}
nav.naviBottom nav.mainNaviBottom section.user {
  display: flex;
  height: 71px;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  position: absolute;
  right: 0;
  bottom: 0;
  /*
  &:hover + .fcp {
      display: block;
  }*/
}
nav.naviBottom nav.mainNaviBottom section.user:hover {
  cursor: pointer;
}
nav.naviBottom nav.mainNaviBottom section.user:hover .user_picture {
  box-shadow: 0 0 5px yellow;
}
nav.naviBottom nav.mainNaviBottom section.user .user_details {
  margin-right: 8px;
  text-align: right;
}
nav.naviBottom nav.mainNaviBottom section.user .user_details * {
  display: block;
}
nav.naviBottom nav.mainNaviBottom section.user .user_details .user_name {
  font-size: 20.56px;
  font-weight: 500;
  color: #303030;
}
nav.naviBottom nav.mainNaviBottom section.user .user_details .user_notifications {
  font-size: 9px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: -5px;
  color: #747474;
}
nav.naviBottom nav.mainNaviBottom section.user .user_picture_area {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav.naviBottom nav.mainNaviBottom section.user .user_picture_area .user_picture {
  width: 53px;
  height: 53px;
  border-radius: 53px;
  overflow: hidden;
  border: 3px solid rgba(0, 0, 0, 0);
  margin-right: 12px;
  background-position: center center;
  background-size: contain;
  transition: all 0.4s ease-in-out;
}

.justify-content-space-between {
  justify-content: space-between;
}

.ctest {
  position: relative;
  background: green;
  margin: 0 auto;
  max-width: 218px;
}

.botongui header.topbar .pagemenu .menu_container, .icon_container {
  padding: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.8);
  text-align: center;
  min-width: 30px;
  height: 30px;
  font-size: 16px;
  display: inline-block;
  color: #adb5bd;
}

main {
  height: calc(100vh - 101px);
  max-height: calc(100vh - 101px);
  position: relative;
  z-index: 1;
}

.max_height .row, .max_height .col, .max_height {
  height: calc(calc(100vh - 101px) - 76px);
  max-height: calc(calc(100vh - 101px) - 76px);
}

.max_height_normal {
  max-height: calc(calc(100vh - 101px));
}
.max_height_normal .row, .max_height_normal .col {
  max-height: calc(calc(100vh - 101px));
}

.mandatorySpacer {
  height: calc(101px);
  width: 100%;
}

.botongui {
  /** Pages **/
}
.botongui h3 {
  font-size: 1.25rem !important;
}
.botongui h2 {
  font-size: 1.35rem !important;
}
.botongui header.topbar {
  height: 76px;
}
.botongui header.topbar h1 {
  font-weight: 200;
  font-size: 50.42px;
  color: #6a6a6a;
  float: left;
  margin-left: 15px;
  line-height: 50.42px;
}
.botongui header.topbar .pagemenu {
  min-height: 26px;
  float: right;
  text-align: right;
  margin-right: 17px;
}
.botongui header.topbar .pagemenu .dropdown_container {
  display: inline-block;
}
.botongui header.topbar .pagemenu .sort_order {
  cursor: pointer;
}
.botongui header.topbar .pagemenu .sort_order i {
  font-size: 16px;
  width: 16px;
  height: 16px;
  float: left;
  margin-left: -16px;
  margin-right: 6px;
  padding: 3px;
  text-align: center;
}
.botongui header.topbar .pagemenu > div {
  margin: 0 5px;
}
.botongui header.topbar .pagemenu > div:last-child() {
  margin-right: 0px;
}
.botongui header.topbar .pagemenu .search_count {
  display: inline-block;
  margin-right: 10px;
}
.botongui.modal table td, .botongui.modal table th {
  padding: 1px 5px !important;
}
.botongui.modal .close_btn_container {
  min-height: 100px;
  height: 100%;
}
.botongui.modal-header {
  min-height: 100px;
}
.botongui.modal .title_container {
  text-align: left;
  max-width: 340px;
  width: 100%;
}
.botongui.modal .title_container .buy_now {
  font-size: 14px;
  vertical-align: bottom;
  line-height: 21px;
}
.botongui.modal .title_container .buy_now .buy_button {
  width: 72px;
  height: 21px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  line-height: 19px;
  padding: 0;
  margin-right: 10px;
  background: #1ea200;
  text-transform: uppercase;
}
.botongui.modal .item_icon {
  width: 24px;
  height: 24px;
}
.botongui.modal .item_image {
  width: 75px;
  height: 100px;
}
.botongui.modal .item_image_both {
  width: 75px;
  height: 100px;
  position: relative;
  margin-right: 15px;
}
.botongui.modal .item_image_both .icon {
  position: absolute;
  bottom: 0;
  right: 0;
}
.botongui [item-type=t_loader].thumbnail, .botongui .item_data_container .item_container .thumbnail {
  padding: 4px;
  border-radius: 3px;
  width: 75px;
  height: 100px;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  box-sizing: content-box;
}
.botongui [item-type=t_loader].list, .botongui .item_data_container .item_container .list {
  height: 30px;
  width: 490px;
  margin: 2px auto;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.botongui .item_data_container {
  flex-direction: row;
}
.botongui .item_data_container .item_master {
  cursor: pointer;
}
.botongui .item_data_container .item_container {
  margin: 0 auto;
}
.botongui .item_data_container .item_container a {
  display: block;
  margin: 0 auto;
  color: #6a6a6a !important;
}
.botongui .item_data_container .item_container a:hover {
  text-decoration: none;
}
.botongui .item_data_container .item_container > div {
  justify-content: space-between;
}
.botongui .item_data_container .item_container .list {
  display: none;
}
.botongui .item_data_container .item_container .list:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 2px white;
}
.botongui .item_data_container .item_container .list > div, .botongui .item_data_container .item_container .list > * {
  vertical-align: middle;
  display: inline-block;
}
.botongui .item_data_container .item_container .list [class^=thumbnail_] {
  display: none;
}
.botongui .item_data_container .item_container .list_icon {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 0;
}
.botongui .item_data_container .item_container .list_name {
  font-size: 14px;
  line-height: 23px;
  width: 100%;
  padding: 0 3px;
  max-width: 380px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.botongui .item_data_container .item_container .list_cats {
  float: right;
}
.botongui .item_data_container .item_container .thumbnail {
  display: none;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.botongui .item_data_container .item_container .thumbnail:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.botongui .item_data_container .item_container .thumbnail .thumbnail_image {
  height: 100px;
  width: 75px;
}
.botongui .item_data_container .item_container .thumbnail [class^=list_] {
  display: none;
}
.botongui .search {
  max-width: 258px;
}
.botongui .search input[type=text] {
  outline: 0;
  border-radius: 3px;
  background: #fbfbf7;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  max-width: 218px;
  min-height: 33px;
  max-height: 33px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: #5d5d5d;
}
.botongui .search input[type=checkbox] {
  display: none;
}
.botongui .search input[type=checkbox]:checked + label::before {
  background: #747474;
  box-shadow: inset -1px -1px 0 white, inset 1px 1px 0 white;
}
.botongui .search input[type=checkbox] + label {
  font-size: 10px;
  display: block;
  padding-left: calc(10px + 5px);
}
.botongui .search input[type=checkbox] + label::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #9a9a98;
  background: #f2f2f2;
  margin-left: -15px;
  margin-right: 5px;
  margin-top: -50px;
}
.botongui .search .ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content {
  background: #d7d7d7;
  border: 0;
  height: 3px;
  margin: 10px 0;
}
.botongui .search .ui-slider-range.ui-corner-all.ui-widget-header {
  background: #5d5d5d;
  border: 0;
}
.botongui .search .ui-slider-handle.ui-corner-all.ui-state-default {
  background: #d7d7d7;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0 1px #fff;
  margin-left: -5px;
}
.botongui .search .search_count, .botongui .search .search_reset, .botongui .search .search_togglecheckbox {
  text-transform: uppercase;
  font-size: 10px;
  color: #5d5d5d;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
}
.botongui .search_count {
  cursor: default;
}
.botongui .search_param {
  background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0) 60%), radial-gradient(ellipse at center, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0) 90%);
  background-position: center bottom -10px, center bottom -5px;
  background-repeat: no-repeat;
  background-size: 120% 20px;
  border-bottom: 1px solid #edede9;
  box-shadow: inset 0 -1px 0 0 white;
  max-width: 218px;
  margin: 0 auto;
  color: #5d5d5d;
}
.botongui .search_param * {
  text-transform: uppercase;
}
.botongui .search_param_child {
  border-top: 1px solid rgba(0, 0, 0, 0.03);
}
.botongui .search_param_top {
  justify-content: space-between;
  padding: 5px 0;
  cursor: pointer;
}
.botongui .search_param_top_label {
  color: #5d5d5d;
  font-weight: 400;
  font-size: 12px;
}
.botongui .search_param_top[aria-expanded=true] div:first-child {
  font-weight: 500;
  font-size: 13px !important;
}
.botongui .search_param_top_value, .botongui .search_param_top_value * {
  color: #5d5d5d;
  font-weight: 500;
  font-size: 11px;
  text-transform: initial !important;
  font-style: italic;
}
.botongui .search_param:hover {
  background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0) 60%), radial-gradient(ellipse at center, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0) 70%);
  background-position: center bottom -10px, center bottom -5px;
}
.botonguiPage {
  max-width: 700px;
  min-width: 350px;
  width: 26vw;
  max-height: 80vh;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(1, 1, 1, 0.13);
  box-sizing: content-box;
  padding: 15px;
}
.botonguiPageCaption {
  padding: 0px;
  opacity: 0.8;
  font-size: 12px;
  box-shadow: none;
  text-align: center;
}
.botonguiPageCaptionError {
  color: red !important;
}

[item-type=t_loader].modal-loader {
  margin: 10px auto !important;
}
[item-type=t_loader].thumbnail .loader,
[item-type=t_loader].thumbnail .loader:after {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
[item-type=t_loader].thumbnail .loader {
  margin: 15px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  /*
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  */
  border-top: 1.1em solid rgba(0, 0, 0, 0.2);
  border-right: 1.1em solid rgba(0, 0, 0, 0.2);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid rgba(0, 0, 0, 0.7);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  transform-origin: center center;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
[item-type=t_loader].list .loader,
[item-type=t_loader].list .loader:before,
[item-type=t_loader].list .loader:after {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
[item-type=t_loader].list .loader {
  color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
  margin: -24px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
[item-type=t_loader].list .loader:before,
[item-type=t_loader].list .loader:after {
  content: "";
  position: absolute;
  top: 0;
}
[item-type=t_loader].list .loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
[item-type=t_loader].list .loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.rotator {
  position: relative;
  z-index: 1;
  margin-left: -1px;
  margin-top: -1px;
  background: rgba(255, 0, 100, 0);
}
.rotator.rotate {
  -webkit-animation: spin 2.2s ease-in-out running infinite;
  -moz-animation: spin 2.2s ease-in-out running infinite;
  animation: spin 2.2s ease-in-out running infinite;
}
.rotator.linear {
  animation-timing-function: linear !important;
  animation-duration: 1.5s;
}
.rotator #botongui_rotator {
  margin-top: 9px;
  margin-left: -1px;
  width: 44px;
  height: 44px;
  fill: rgba(0, 0, 0, 0.5);
  transition: fill 0.4s ease-in-out;
}
.rotator #botongui_rotator.green {
  fill: #94d31b !important;
}
.rotator #botongui_rotator.grey {
  fill: gray !important;
}
.rotator #botongui_rotator.orange {
  fill: orange !important;
}
.rotator #botongui_rotator.empColor {
  fill: yellow !important;
}

.tooltipAlignLeft {
  text-align: left !important;
}

.generic-form {
  margin: 15px;
}
.generic-form label {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 13px;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.fluxDetails {
  display: none;
}

.smallMenu {
  display: none;
}

#smallMenu {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 600;
  background: #fff;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 48%, white 100%);
  height: 100vh;
  width: 100vw;
}

.defaultCol {
  padding-bottom: 100px !important;
}

.popover {
  font-size: 16px !important;
}

/*--------------------------------------------------------------/
/ Media Queries
/--------------------------------------------------------------*/
@media (max-width: 1024px) {
  .user_name {
    display: none !important;
  }

  section.logo {
    max-width: 50vw !important;
  }
  section.logo img {
    max-width: 50vw !important;
  }

  .max_height, .max_height_normal {
    height: 100%;
    max-height: 100%;
  }

  .naviOriginal .pageNavi {
    display: none !important;
  }
  .naviOriginal .status_circles {
    display: none !important;
  }

  .smallMenu, .smallMenu * {
    display: block;
  }

  .smallMenu {
    margin-right: 10px;
  }

  .search {
    display: none;
  }

  .v_divider {
    display: none;
  }

  #smallMenu nav.naviBottom nav.mainNaviBottom {
    display: flex !important;
    justify-content: space-between;
  }
  #smallMenu nav.naviBottom nav.mainNaviBottom ul.status_circles {
    margin: 0;
  }

  .modal-body {
    overflow-x: scroll;
  }

  .botongui .search {
    max-width: 100%;
  }
}
@media (max-width: 700px) {
  .fcp {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .fcp_modal {
    min-width: 100vw !important;
    max-width: 100vw !important;
  }

  .botongui header.topbar {
    flex-direction: column !important;
    height: 100%;
    margin-bottom: 10px;
  }
  .botongui header.topbar h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    margin-left: 0;
  }
  .botongui header.topbar .page_title {
    padding: 15px 0 0 0;
    display: inline-block;
    width: 100vw;
    text-align: center;
  }
  .botongui header.topbar .pagemenu {
    margin-right: 0;
    float: none;
  }
  .botongui .item_data_container .item_container .list {
    display: none;
    width: calc(90vw - 30px);
    max-width: calc(90vw - 30px);
  }
  .botongui .item_data_container .item_container .list_name {
    max-width: calc(90vw - 72px - 30px);
  }
}

/*# sourceMappingURL=main.css.map */
